[user]
	email = steven.bissantz@gmail.com
	name = Steven Marcel Bißantz
[credential]
	helper = cache
[format]
	pretty = oneline
[alias]
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lp2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -p -2
	last = log -1 HEAD --stat --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -sb
	cm = commit -m
	rv = remote -v
	d = diff 
